body{
  background-color: black;
  color: whitesmoke;  
.mozilla-headline-<uniquifier> {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  
 }